@import "tailwindcss";

:root {
  --background: #F0EFED;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

input, select, textarea {
  color: #111827;
}

input::placeholder, textarea::placeholder {
  color: #9ca3af;
}
